.cabecalho{
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 40px 140px;
    gap: 20px;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.menu a {
    text-decoration: none;
    color: black;
    font-size: 1.125rem;
    line-height: 1.3;
    display: block;
}

.intro{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 40px 140px;
    align-items: center;
}

.intro-imagem{
    width: 360px;
    height: 520px;
}

.intro-imagem img{
    max-width: 100%;
}

.introducao h1{
    font-weight: 700;
    font-size: 4.5rem;
}

.experiencia{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.experiencia-items{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

